*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

.page {
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font), Arial, sans-serif;
}

.heading {
  font-family: var(--accent-font), "Times New Roman",serif;
  text-align: center;
}

.header {
  padding-top: 10vh;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  line-height: 90%;
}

.content-section {
  padding-inline: 5vi;
}

.content__title {
  margin: 7vi 0 2.5vi;
  font-size: 30px;
  line-height: 90%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__link {
  color: inherit;
}

.content__blockquote {
  width: 75%;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 200%;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
}

.content__list-item {
  display: block;
  position: relative;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.content__list-item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  top: 3px;
  left: -25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  background-color: var(--accent-color);
  display: inline-block;
  padding: 0 4px;
  margin-right: 1px;
  font-size: 30px;
  font-weight: bold;
}

.content__figure {
  position: relative;
  width: calc(100% + 14vi);
  left: -14vi;
  margin: 90px 7vi;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}

.content__card {
  aspect-ratio: 4 / 3;
  margin-block-start: 7vi;
  border: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__card-title {
  font-size: 60px;
  font-weight: 600;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 0.25em;
  background-color: var(--accent-color);
  top: 50%;
  left: -2%;
  z-index: -1;
}

.footer {
  margin-block-start: 144px;
}